.about {
  margin-top: 24px;

  img {
    width: 200px;
  }

  p {
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.6px;
  }

  &__profile {
    margin: 8px 0;
  }

  &__skills,
  &__experienced {
    .about__skills-list,
    .about__experienced-list {
      margin-left: 16px;
      padding: 0;
      list-style: none;
    }

    p {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
    }

    img {
      width: 26px;
      margin-right: 12px;
    }
  }
}
